In [2]:
conda install pandas

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Users/darylchan/opt/anaconda3/envs/my_conda

  added / updated specs:
    - pandas


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    pytz-2020.1                |             py_0         184 KB
    ------------------------------------------------------------
                                           Total:         184 KB

The following NEW packages will be INSTALLED:

  blas               pkgs/main/osx-64::blas-1.0-mkl
  intel-openmp       pkgs/main/osx-64::intel-openmp-2019.4-233
  libgfortran        pkgs/main/osx-64::libgfortran-3.0.1-h93005f0_2
  mkl                pkgs/main/osx-64::mkl-2019.4-233
  mkl-service        pkgs/main/osx-64::mkl-service-2.3.0-py38hfbe908c_0
  mkl_fft            pkgs/main/osx-64::mkl_fft-1.0.15-py38h5e564d8_0
  mkl_random         pkgs/main/osx-64::mkl_random-1.1.0-py38h6440ff4_0
  numpy              pkgs/main/osx-64::numpy-1.18.1-py38h7241aed_0
  numpy-base         pkgs/main/osx-64::numpy-base-1.18.1-py38h6575580_1
  pandas             pkgs/main/osx-64::pandas-1.0.3-py38h6c726b0_0
  pytz               pkgs/main/noarch::pytz-2020.1-py_0



Downloading and Extracting Packages
pytz-2020.1          | 184 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [3]:
import requests
from requests.packages.urllib3.exceptions import InsecureRequestWarning
requests.packages.urllib3.disable_warnings(InsecureRequestWarning)
import csv
import pandas as pd

In [42]:
r = requests.get('https://api.exchangeratesapi.io/latest?base=SGD', verify=False)

In [22]:
j = r.json()
j

{'rates': {'CAD': 0.9897128719,
  'HKD': 5.4728172407,
  'ISK': 103.7176899538,
  'PHP': 35.7204245068,
  'DKK': 4.8578683508,
  'HUF': 228.0552119279,
  'CZK': 17.5649456345,
  'GBP': 0.5668337782,
  'RON': 3.1421316492,
  'SEK': 6.9652972199,
  'IDR': 10660.153655837,
  'INR': 53.4823230679,
  'BRL': 3.8788983658,
  'RUB': 52.3935803112,
  'HRK': 4.9309850902,
  'JPY': 75.3369359984,
  'THB': 22.8699785142,
  'CHF': 0.6852659678,
  'EUR': 0.651084055,
  'MYR': 3.0388697181,
  'BGN': 1.2733901947,
  'TRY': 5.0046226968,
  'CNY': 4.9856761508,
  'NOK': 7.274562146,
  'NZD': 1.1660915424,
  'ZAR': 12.9577446448,
  'USD': 0.7059704408,
  'MXN': 16.8533107624,
  'SGD': 1.0,
  'AUD': 1.0954489225,
  'ILS': 2.4866853311,
  'KRW': 862.5626668403,
  'PLN': 2.9504525034},
 'base': 'SGD',
 'date': '2020-05-05'}

In [71]:
oldrates = j['rates']
oldrates

{'CAD': 0.9838814931,
 'HKD': 5.501174628,
 'ISK': 103.9545810493,
 'PHP': 35.7426259462,
 'DKK': 4.8671365179,
 'HUF': 230.1748890629,
 'CZK': 17.6827199165,
 'GBP': 0.5671169407,
 'RON': 3.1604672409,
 'SEK': 6.9589532759,
 'IDR': 10557.3283737927,
 'INR': 53.2568519969,
 'BRL': 3.8217828243,
 'RUB': 52.1352127382,
 'HRK': 4.9458365962,
 'JPY': 75.6134168624,
 'THB': 22.980944923,
 'CHF': 0.6889845993,
 'EUR': 0.6525711303,
 'MYR': 3.0518794049,
 'BGN': 1.2762986165,
 'TRY': 4.9581701906,
 'CNY': 5.0029365701,
 'NOK': 7.2983555208,
 'NZD': 1.1553771861,
 'ZAR': 12.8277212216,
 'USD': 0.7097363613,
 'MXN': 16.8332680762,
 'SGD': 1.0,
 'AUD': 1.083137562,
 'ILS': 2.4842730358,
 'KRW': 856.8846254242,
 'PLN': 2.9584964761}

In [43]:
f = open ('latest_currency.csv', 'w',encoding = "utf8", newline = '')

In [44]:
writer = csv.DictWriter(f, fieldnames= ['Country','Rate to SGD'])
writer.writeheader()

In [29]:
rates = j['rates']
rates['CAD']

0.9897128719

In [45]:
for row in rates: 
    if row != 'SGD':
        writer.writerow({'Country': row, 'Rate to SGD': rates[row]})

In [46]:
f.close()

In [47]:
df = pd.read_csv('latest_currency.csv')
df.head(10)

  Country  Rate to SGD
0     CAD     0.989713
1     HKD     5.472817
2     ISK   103.717690
3     PHP    35.720425
4     DKK     4.857868
5     HUF   228.055212
6     CZK    17.564946
7     GBP     0.566834
8     RON     3.142132
9     SEK     6.965297

In [57]:
import requests
from requests.packages.urllib3.exceptions import InsecureRequestWarning
requests.packages.urllib3.disable_warnings(InsecureRequestWarning)
import csv
import pandas as pd
r = requests.get('https://api.exchangeratesapi.io/2020-04-30?base=SGD', verify=False)
j = r.json()
f = open ('last_currency.csv', 'w',encoding = "utf8", newline = '')
writer = csv.DictWriter(f, fieldnames= ['Country','Rate to SGD'])
writer.writeheader()
rates = j['rates']
for row in rates: 
    if row != 'SGD':
        writer.writerow({'Country': row, 'Rate to SGD': rates[row]})
f.close()
df = pd.read_csv('last_currency.csv')
df.head(10)

  Country  Rate to SGD
0     CAD     0.983881
1     HKD     5.501175
2     ISK   103.954581
3     PHP    35.742626
4     DKK     4.867137
5     HUF   230.174889
6     CZK    17.682720
7     GBP     0.567117
8     RON     3.160467
9     SEK     6.958953

In [12]:
r = requests.get('https://api.exchangeratesapi.io/latest?base=SGD', verify=False)
j = r.json()
f = open ('latest_currency.csv', 'a',encoding = "utf8", newline = '')

In [64]:
reader = csv.DictReader(open ('last_currency.csv', 'r')
for row in reader:
                        past_rates = row['Rate to SGD']
                        
past_rates

SyntaxError: invalid syntax (<ipython-input-64-e635f527d17f>, line 2)

In [72]:
reader = csv.DictReader(open('last_currency.csv', 'r'))

In [78]:
r1 = requests.get('https://api.exchangeratesapi.io/latest?base=SGD', verify=False)
j1 = r.json()
newrates = j1['rates']
newrates.items()

dict_items([('CAD', 0.9838814931), ('HKD', 5.501174628), ('ISK', 103.9545810493), ('PHP', 35.7426259462), ('DKK', 4.8671365179), ('HUF', 230.1748890629), ('CZK', 17.6827199165), ('GBP', 0.5671169407), ('RON', 3.1604672409), ('SEK', 6.9589532759), ('IDR', 10557.3283737927), ('INR', 53.2568519969), ('BRL', 3.8217828243), ('RUB', 52.1352127382), ('HRK', 4.9458365962), ('JPY', 75.6134168624), ('THB', 22.980944923), ('CHF', 0.6889845993), ('EUR', 0.6525711303), ('MYR', 3.0518794049), ('BGN', 1.2762986165), ('TRY', 4.9581701906), ('CNY', 5.0029365701), ('NOK', 7.2983555208), ('NZD', 1.1553771861), ('ZAR', 12.8277212216), ('USD', 0.7097363613), ('MXN', 16.8332680762), ('SGD', 1.0), ('AUD', 1.083137562), ('ILS', 2.4842730358), ('KRW', 856.8846254242), ('PLN', 2.9584964761)])

In [75]:
list(zip(newrates.value(),oldrates.value())

SyntaxError: unexpected EOF while parsing (<ipython-input-75-2b320b161ef0>, line 1)

In [5]:
import requests
from requests.packages.urllib3.exceptions import InsecureRequestWarning
requests.packages.urllib3.disable_warnings(InsecureRequestWarning)
import csv
import pandas as pd
import datetime
main_url = 'https://api.exchangeratesapi.io/'
base = '?base=SGD'

## Latest currency
today = datetime.date.today()
today_url = main_url + str(today) + base
r0 = requests.get(today_url, verify=False)
j0 = r0.json()
newrates = j0['rates']

## Previous currency
for i in range(1,31): 
    prev = today - datetime.timedelta(days=i)
    prev_url =  main_url + str(prev) + base 
    r1 = requests.get(prev_url, verify=False)
    j1 = r1.json()
    if j1 != j0: 
        break 
        
prevrates = j1['rates']

fp = open ('latest_currency.csv', 'w', encoding = "utf8", newline = '')
new_writer = csv.DictWriter(fp, fieldnames= ['Country','Rate to SGD','Rise/Fall','percentage change'])
new_writer.writeheader()
for row in newrates: 
    if row != 'SGD' :
        percent = ((prevrates[row] - newrates[row])/prevrates[row])*100
        if percent > 0 :
            new_writer.writerow({'Country': row,'Rate to SGD': newrates[row], 'Rise/Fall': 'Rise', 'percentage change': "%.2f" % percent})
        if percent < 0: 
            new_writer.writerow({'Country': row,'Rate to SGD': newrates[row], 'Rise/Fall': 'Fall', 'percentage change': "%.2f" % percent})      
fp.close()
df = pd.read_csv('latest_currency.csv')
df

   Country   Rate to SGD Rise/Fall  percentage change
0      CAD      0.991766      Rise               0.11
1      HKD      5.461674      Rise               0.01
2      ISK    103.966543      Fall              -0.08
3      PHP     35.611972      Rise               0.02
4      DKK      4.875188      Fall              -0.19
5      HUF    228.295106      Fall              -0.14
6      CZK     17.746847      Fall              -0.84
7      GBP      0.571640      Fall              -0.47
8      RON      3.151996      Fall              -0.21
9      SEK      6.939816      Fall              -0.14
10     IDR  10601.202379      Rise               0.01
11     INR     53.432987      Rise               0.05
12     BRL      4.069202      Fall              -2.47
13     RUB     52.002941      Rise               1.28
14     HRK      4.944455      Fall              -0.18
15     JPY     75.089852      Fall              -0.44
16     THB     22.851075      Fall              -0.11
17     CHF      0.688100      Fall              -0.21
18     EUR      0.653467      Fall              -0.21
19     MYR      3.047180      Fall              -0.03
20     BGN      1.278050      Fall              -0.21
21     TRY      5.083448      Fall              -1.01
22     CNY      4.994249      Rise               0.16
23     NOK      7.214598      Rise               0.24
24     NZD      1.164478      Fall              -0.10
25     ZAR     13.114945      Fall              -0.26
26     USD      0.704633      Rise               0.01
27     MXN     17.034372      Fall              -0.28
28     AUD      1.091551      Rise               1.80
29     ILS      2.475397      Fall              -0.12
30     KRW    862.693589      Rise               0.04
31     PLN      2.971117      Fall              -0.37

In [3]:
print (prev)

2020-05-06

In [4]:
print (today)

2020-05-08

In [6]:
import os
os.getpid()

2674